main {
  background-image: url("../../assets/img/wallpaper1.jpg");
  background-position: center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.top-bar-showroom {
  height: 4.4rem;
  width: 100%;
  border-radius: 0px 0px 30px 30px;
  position: fixed;
  top: 0;
  z-index: 99;
}

.showroom-btn {
  background-color: white;
  width: 2.7rem;
  height: 2.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  padding-right: 4px;
}

.showroom-menu {
  background-color: white;
  width: 2.7rem;
  height: 2.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
}

.menu-svg {
  height: 1.3rem;
}

.vinil-brand {
  background-color: white;
  width: 50%;
  height: 2.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.car {
  width: 100%;
  height: calc(100% - 11.4rem);
  background-color: transparent;
}

.colors-container {
  width: 100%;
  background-color: white;
  height: 7rem;
  border-radius: 30px 30px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 99;
}

.colors {
  width: 80%;
  height: 3rem;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 0px 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.colors-item {
  width: 2rem;
  height: 2rem;
  background-color: bisque;
  border-radius: 10px;
}

.colors:active {
  border: 1px solid #49ade7;
}
