<ion-content [fullscreen]="true">
  <div class="top-bar-showroom">
    <div class="menu-title">
      <a class="showroom-btn" href="javascript:history.go(-1)"
        ><svg
          height="20px"
          width="20px"
          x="0"
          y="0"
          viewBox="0 0 64 64"
          style="enable-background: new 0 0 512 512"
          xml:space="preserve"
          fill-rule="evenodd"
        >
          <g>
            <path
              d="M47.83 55.172 24.66 32 47.83 8.828c1.56-1.561 1.56-4.095 0-5.656s-4.1-1.561-5.66 0l-26 26a4.003 4.003 0 0 0 0 5.656l26 26c1.56 1.561 4.1 1.561 5.66 0s1.56-4.095 0-5.656z"
              fill="#49ade7"
              opacity="1"
              data-original="#49ade7"
            ></path>
          </g></svg
      ></a>

      <div class="vinil-brand"></div>

      <a class="showroom-menu">
        <svg
          x="0"
          y="0"
          viewBox="0 0 464.205 464.205"
          style="enable-background: new 0 0 512 512"
          xml:space="preserve"
          class="menu-svg"
        >
          <g>
            <path
              d="M435.192 406.18H29.013C12.989 406.18 0 393.19 0 377.167s12.989-29.013 29.013-29.013h406.18c16.023 0 29.013 12.99 29.013 29.013-.001 16.023-12.99 29.013-29.014 29.013zM435.192 261.115H29.013C12.989 261.115 0 248.126 0 232.103s12.989-29.013 29.013-29.013h406.18c16.023 0 29.013 12.989 29.013 29.013s-12.99 29.012-29.014 29.012zM435.192 116.051H29.013C12.989 116.051 0 103.062 0 87.038s12.989-29.013 29.013-29.013h406.18c16.023 0 29.013 12.989 29.013 29.013s-12.99 29.013-29.014 29.013z"
              fill="#49ade7"
              opacity="1"
              data-original="#000000"
              class=""
            ></path>
          </g></svg
      ></a>
    </div>
  </div>
  <main>
    <div id="car"></div>
    <div class="colors-container">
      <div class="colors">
        <div class="colors-item active"></div>
        <div class="colors-item"></div>
        <div class="colors-item"></div>
        <div class="colors-item"></div>
        <div class="colors-item"></div>
        <div class="colors-item"></div>
      </div>
    </div>
  </main>
</ion-content>
