/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: suse;
  src: url(../src/assets/fonts/suse.ttf);
}

h1 {
  margin: 0px;
}

.ion-page {
  background: white;
}

.header-md {
  -webkit-box-shadow: none;
  box-shadow: none;
}

ion-content {
  // overwrite inline styles
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

ion-tab-button {
  max-width: inherit;
  --padding-start: 0px;
  --padding-end: 0px;
  position: initial;
  display: flex;
  flex-direction: row;
  background: transparent;
  --ripple-color: transparent;
  --background-activated: transparent;
}

ion-tab-bar {
  display: none;
}

.top-bar {
  background: #49ade7;
  height: 4.4rem;
  width: 100%;
  border-radius: 0px 0px 30px 30px;
  position: fixed;
  top: 0;
  z-index: 99;
}

.menu-title {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(90% - 1rem);
  height: 100%;
}

.menu-title h1 {
  font-family: suse;
  font-weight: 700;
  font-size: 1.9rem;
  color: white;
}

.title-svg {
  height: 1.7rem;
}

ion-content {
  background: white;
}
